body {
	background: #00B0D0;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 400%;
	margin-bottom: 0.5em;
}

.container {
	display: "flex";
	flex-direction: "column";
	width: 300px;
	max-width: "80%";
	margin: auto;
	margin-bottom: 1rem;
	font-size: 150%;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.item {
	display: flex;
	justify-content: space-between;
}

a {
	color: black;
}

a:hover {
	color: #444444;
}

#qr {
	width: 300px;
	max-width: 80%;
}
